/**
* Accordeon
*/
details {
    /* fermé et ouvert */
    position: relative;
    width: 130px;
    transition: all 1s ease-in-out;
}

details[open] {
    /* ouvert */
    width: 300px;
}

.accordeon {
    display: flex;
}

details>summary {
    position: absolute;
    top: 0;
    left: 0;
}

details>div {
    padding-left: 130px;
    width: 170px;
}